.godtext{text-align: center;color:rgb(0, 0, 0);font-size:32px;background-color:rgb(141, 138, 138)}

.omg{color:rgb(0, 0, 0);font-size:32px;background-color:rgb(141, 138, 138)}

.chapter{background-color:sandybrown;color:rgb(134, 69, 12);text-align: center;font-size:48px}

h2{color:#000000 }

body{background-image: url("biologically diverese image.png");margin-left:25px;}

.red{ background-color:rgba(74, 116, 119, 0.521);
    border-color:rgb(86, 175, 190)}

.wow{background-color:rgb(47, 143, 167)}

li{color:rgb(38, 73, 150)}

.ug{color:rgb(122, 64, 64)}

p{color:rgb(75, 41, 41)}

p{background-color:white;font-size:48px;font-weight:bold;color:maroon}

img{border-color:maroon}

h2{color:darkblue;background-color:grey}

.never{color:blue}

.now{color:rgb(1, 1, 65)}

details{background-color:lightgreen;color:black}

.plug{background-color:white;font-size:24px;}

.why{background-color:rgb(184, 171, 171);font-weight:bold;}

.what:hover{background:rgb(202, 120, 27)}
     .what{list-style-type:none}

.change{color:rgb(54, 17, 17)}

.when:hover{background-color:rgb(122, 79, 29);}
     .when{background-color:lightgrey;list-style-type:none}

.wet{background-color:red;}

.were{background-color:grey}

.chapter2{background-color:sandybrown;color:rgb(134, 69, 12);text-align: center;font-size:48px}

.the{background-color:rgb(184, 171, 171);font-weight:bold;font-size:28px}

.nice{float:right;}

.gamer{width:80%;background-color:rgb(23, 23, 51);padding:10%;}

.nicer{color:darkblue;background-color:grey;font-size:96px}

.howdidthishappen{background-color:red}

.gaming{background-image: url("Bro,its happening.Its done.png");}

.science{font-size:32px;text-align: center;}

.nametag:hover{background-color:purple}
.nametag{text-decoration:none;color:darkblue}
